@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.half-border::after {
  content: "";
  display: block;
  width: 60%; /* Ajuste isso para controlar o comprimento da borda */
  height: 3px; /* Ajuste isso para controlar a espessura da borda */
  background-color: #000; /* Ajuste isso para controlar a cor da borda */
  margin: 5px 0; /* Ajuste isso para controlar a distância entre a borda e o texto */
}


